@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #262b30;
    --color-text-base-inverted: #eeeeee;
    --color-text-muted: #424042;
    --color-text-muted-inverted: #cccccc;
    --color-text-link: #ff4301;
    --color-text-link-hover: #ff6321;
    --color-text-link-inverted: #d65a31;
    --color-text-link-hover-inverted: #e66a41;
    --color-text-highlight-fg: #cccccc;
    --color-text-highlight-bg: #bc0ce8;
    --color-text-highlight-fg-inverted: #cccccc;
    --color-text-highlight-bg-inverted: #c02bed;
    --color-fill: #dddddd;
    --color-fill-inverted: #141313;
  }
}

.text-vivid {
  @apply text-light-base dark:text-dark-base selection:text-light-highlight-fg selection:bg-light-highlight-bg dark:selection:text-dark-highlight-fg dark:selection:bg-dark-highlight-bg print:text-black dark:print:text-black print:no-underline transition-dark-mode;
}

.text-muted {
  @apply text-light-muted dark:text-dark-muted selection:text-light-highlight-fg selection:bg-light-highlight-bg dark:selection:text-dark-highlight-fg dark:selection:bg-dark-highlight-bg print:text-black dark:print:text-black transition-dark-mode;
}

.text-link {
  @apply text-light-link dark:text-dark-link selection:text-light-highlight-fg selection:bg-light-highlight-bg dark:selection:text-dark-highlight-fg dark:selection:bg-dark-highlight-bg print:text-blue-700 dark:print:text-blue-700 hover:text-light-link-hover dark:hover:text-dark-link-hover transition-dark-mode print:underline;
}

.page-bg {
  @apply bg-light-fill dark:bg-dark-fill print:text-white dark:print:text-white transition-dark-mode;
}

.text-item-heading {
  @apply text-sm sm:text-lg leading-none sm:leading-none font-semibold text-vivid;
}

.text-section-heading {
  @apply text-3xl text-vivid;
}

.item-spacing {
  @apply space-y-5;
}

.transition-dark-mode {
  @apply transition-colors duration-300 ease-out;
}
